.container {
  height: 100%;
}

.header {
  background: #FFF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px;
}

.content {
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
  background: #FFF;
}